<body>
  <div>
    <h1 class = "melhorProjeto">Melhor projeto da disciplina!</h1>
    <span class = "alert">Atenção! para poder utilizar nossa aplicação você deverá seguir os seguintes passos:</span>
    <ol class = "doBefore">
      <li>Envie um e-mail para mamb2@cin.ufpe.br para pedir permissão na utilização da aplicação (Bote como assunto "Emotions and Spotify").</li>
      <li>Inicie o seu player do spotify (no browser ou celular).</li>
      <li>Clique no botão "Login no spotify".</li>
      <li>Insira no input o link da imagem que deverá conter a emoção.</li>
      <li>Clique no botão "Pegar Recomendações".</li>
      <li>Aproveite as músicas que foram adicionadas na fila do seu player!</li>
    </ol>

      <button (click)="login()">
        Login no Spotify
      </button>
      <h3 *ngIf="logged" style="color:green">Você está logado!</h3>

    <div>
      <input placeholder="Link da imagem" class="input" [(ngModel)]="imgURLd">
      <button (click)="parseEmotions(imgURLd)">parseEmotion</button>
    </div>

    <div *ngIf="emotion != 'none'">
      <div>
        <span>Identificamos que a sua emoção é </span>
        <strong>{{emotion}}</strong>
      </div>
      <div>
        <span>Clique no botão abaixo para pegar as recomendações de música que encontramos para você!</span>
        <br/>
        <button (click)="getRecommendation()">Get Recommendation</button>
      </div>
    </div>

    <footer>
      <h3>Responsáveis do projeto:</h3>
      <ul>
        <li><a href="mailto:mamb2@cin.ufpe">Maria Augusta Borba</a></li>
        <li><a href="mailto:vefg@cin.ufpe.br">Victor Gaudiot</a></li>
        <li><a href="mailto:phra@cin.ufpe.br">Pedro Arruda</a></li>
        <li><a href="mas8@cin.ufpe.br">Matheus Alves</a></li>
      </ul>
    </footer>
  </div>
</body>

<style>
  a{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("https://thumbs.dreamstime.com/b/music-notes-seamless-pattern-vector-background-cute-repeat-repeating-wallpaper-217627524.jpg%22");
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div{
    width: 700px;
    height: fit-content;
    background-color: white;
  }

  button{
      display: block;
      height: 40px;
      width: 100px;
      cursor: pointer;
  }

  .alert{
      color: red;
  }

  .login:hover{
      transform: scale(1.2);
  }

  #logo_image{
      width: 70px;
      height: 70px;
  }
</style>
